/* * {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
} */

/* .model-window-hidden {
    visibility: hidden;
    opacity: 0;
} */

#acheivementPlaceholder {
    position: absolute;
    z-index: 999;
    top: 20px;
    /* justify-content: center; */
    width: 100%;
}

.modal-window {
    font-family: monospace;
    background-color: rgba(75, 52, 132, 0.48);
    /* font-size: 15px; */
    border-radius: 20px;
    border-radius: 20px;
    pointer-events: none;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}