html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    padding: 20px;
    height: 100vh;
    background-image: url('./../assets/layout_02_bg.png');
    /* background-color: rgb(105, 96, 158); */
    
}

.ready-btn {
    position: inherit;
    display: flex;
    margin: auto;
    margin-top: 20px;
    z-index: 20;
    padding: 5px 30px;
    top: 20px;
    border-radius: 8px;
    outline: none;
}


.assets {
    position: absolute;
    z-index: 9;
    padding: 20px;
    background-color: #0c0223;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #8675ad;
    display: grid;
    grid-gap: 5px;
}

.drop-zone {
    position: absolute;
    z-index: 2;
    /* right: 30px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 20% 20%;
    grid-gap: 1px;
    /* justify-content: center; */
    width: 200px;
    height: 400px;
    margin-left: -100px;
    top: 285px;
    /* left: 100px; */
    transform: rotate(-2deg);
}

.inventory-item {
    cursor: grab;
    display: flex;
    justify-content: center;
}
.item {
    /* background-color: rgba(255, 0, 0, 0.425); */
    /* padding: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    border-bottom: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 6px 4px 0px #00000030;
    align-items: flex-end;
}

.refregirator {
    display: flex;
    justify-content: center;
        /* justify-content: center; */
}