* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.model-window-hidden {
    visibility: hidden;
    opacity: 0;
}

.modal-window {
    background-color: rgba(118, 88, 88, 0.25);
    border-radius: 20px;
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    z-index: 999;
    pointer-events: none;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    }
  

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
